/*Large devices*/
@media (max-width: 1024px) {
.hero-info {
    width: 90%;
    display: flex;
}

.hero-info h1 {
    display: block;
    width: 90%;
    max-width: 500px;
    text-align: start;
    align-items: center;
    justify-content: center;
}

.hero-info p {
    width: 60%;
    max-width: 600px;
    font-size: 18px;
}

.btn-hero {
    display: flex;
    width: 80%;
}

#about {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}
}

/*Medium devices*/
@media (max-width: 768px) {
    .hero-info {
        width: 70%;
        display: flex;
    }

    .hero-info h1 {
        display: block;
        width: 70%;
        font-size: 37px;
        text-align: start;
    }

    .hero-info p {
        font-size: 23px;
    }

    .hero-info a {
        font-size: 15px;
    }

    .btn-hero {
        display: flex;
        justify-content: flex-end;
        width: 70%;
    }

    .hero-img {
        display: none;
    }

    #about h2 {
        font-size: 32px;
    }

    #about p {
        font-size: 20px;
    }

    #gallery h2 {
        font-size: 32px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .info-cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    .info-card h4 {
        font-size: 22px;
    }

    .info-card a {
        font-size: 15px;
    }
}

/*Small devices*/
@media (max-width: 570px) {
/*menu hamburguesa en contrucción
    .navbar-list {
        position: absolute;
        top: 65px;
        left: 5%;
        right: 5%;
        width: 90%;
        flex-direction: column;
        background:#ebe9e8;
        border: 2px solid #74975f;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: center;
        justify-content: space-between;
        padding: 45px 30px;
        gap: 20px;
        z-index: 2;
        display: none;
    }

    .menu-label {
        display: flex;
        cursor: pointer;
    }

    .menu-label img {
        height: 35px;
        width: 35px;
    }

    #menu-toggle:checked + .navbar-list {
        display: flex;
    }
*/
    .navbar {
        display: none;

    }

    .cart-icon {
        height: 36px;
    }

    header {
        display: flex;
        justify-content:center;
        align-items: center;
        padding: unset;
    }

    .hero-info h1 {
        display: block;
        font-size: 30px;
        text-align: start;
    }

   .hero-info p {
        font-size: 21px;
    }

    .hero-info a {
        font-size: 13px;
    }

    .btn-hero {
        display: flex;
        justify-content: flex-end;
    }

    .hero-img {
        display: none;
    }

    #about {
        width: 80%;
    }

    #about h2 {
        width: 100%;
        font-size: 29px;
    }

    #about p {
        font-size: 18px;
    }

    #gallery h2 {
        font-size: 29px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .info-cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    footer{
        display: none
    }
}