/*Large devices*/
@media (max-width: 1024px) {
.hero-info {
    width: 90%;
    display: flex;
}

.hero-info h1 {
    display: block;
    width: 90%;
    max-width: 500px;
    text-align: start;
    align-items: center;
    justify-content: center;
}

.hero-info p {
    width: 60%;
    max-width: 600px;
    font-size: 18px;
}

.btn-hero {
    display: flex;
    width: 80%;
}

#about {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}
}

/*Medium devices*/
@media (max-width: 768px) {
    .hero-info {
        width: 70%;
        display: flex;
    }

    .hero-info h1 {
        display: block;
        width: 70%;
        font-size: 37px;
    }

    .hero-info a {
        font-size: 15px;
    }

    .btn-hero {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    #about h2 {
        font-size: 32px;
    }

    #about p {
        font-size: 20px;
    }

    #gallery h2 {
        font-size: 32px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .info-cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    .info-card h4 {
        font-size: 22px;
    }

    .info-card a {
        font-size: 15px;
    }
}

/*Small devices*/
@media (max-width: 570px) {
    .navbar .navbar-list{
        display: none;
    }

    header {
        display: flex;
        justify-content:center;
        align-items: center;
        padding: unset;
    }

    .hero-info h1 {
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

   .hero-info p {
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .btn-hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-img {
        display: none;
    }

    #about {
        width: 80%;
    }

    #about h2 {
        width: 100%;
        font-size: 29px;
    }

    #about p {
        font-size: 16px;
    }

    #gallery h2 {
        font-size: 29px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .info-cards-container {
        display: flex;
        flex-wrap: wrap;
    }

    footer{
        display: none
    }
}