@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

*{
box-sizing: border-box;  
margin: 0;
padding: 0;
font-family: Roboto Condensed;
font-size: 25px;
text-decoration: none;
list-style-type: none;
color: #585755;
}

body {
   background-color: #dfd5c6;
}

/*header*/
header {
    background-color: #ebe9e8 ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;
}

.logo {
    height: 150%;
    width: auto;
    margin-bottom: 4px;
    cursor: pointer;
}

.navbar .navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.navbar {
    gap: 150px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a:hover {
    color: #b4742f;
    font-size: 23px;
}

.cart-icon {
    padding: 2px 15px;
    height: 40px;
    cursor: pointer;
}

/*main*/
main {
    background: #dfd5c6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*hero*/

#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 43px;
    width: 80%;
    min-width: 500px;
    font-weight: 500;
    color:#1d142c;
    text-align: start;
}

.hero-info span {
    font-family: Old Standard TT;
    font-size: 43px;
    font-style: italic;
    font-weight: 700;
    color: #1d142c;
    letter-spacing: 3px;
}

.hero-info img {
    width: 50px;
    padding: 3px;
}

.hero-info p {
    font-size: 25px;
    width: 70%;
    color: #585755;
}

.hero-info a {
    background-color: #74975f;
    color: #ebe9e8;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    width: 30%;
    padding: 5px 5px;
}

.btn-hero {
    display: flex;
    gap: 25px;
}

.btn-hero .btn-2do {
    color: #74975f;
    background-color: #dfd5c6;
    border-radius: 10px;
    border: solid 3px #74975f;
}

.hero-img {
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*section about*/
#about {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#about h2 {
    font-size: 32px;
    font-weight: 600;
    color: #1d142c;
    letter-spacing: 1px;
}

#about p {
    text-align: center;
    font-size: 23px;
    padding: 15px 90px;
}

#about span {
    font-family: Old Standard TT;
    font-size: 23px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 2px;
}

/*footer*/
footer {
    background: #a34e3e;
    color: #ebe9e8;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

footer p {
    color: #ebe9e8;
    font-weight: 300;
    font-size: 14px;
}

footer span {
    font-weight: 600;
    font-size: 16px;
    color: #ebe9e8;
}
